In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from random import random

In [7]:
results = pd.read_csv("tests_results/test_lvl_3.csv")
results = results.drop("Unnamed: 0", axis=1)
results

      reward  duration  remaining_lives  final_state
0     -695.0     488.0              0.0          1.0
1      750.0     876.0              0.0          1.0
2      330.0     678.0              0.0          1.0
3    -2005.0     192.0              0.0          1.0
4     3001.0     899.0              1.0          3.0
...      ...       ...              ...          ...
1995 -1240.0     282.0              0.0          1.0
1996   390.0     630.0              0.0          1.0
1997   460.0     722.0              0.0          1.0
1998  -535.0     506.0              0.0          1.0
1999 -1135.0     175.0              0.0          1.0

[2000 rows x 4 columns]

     reward  duration  remaining_lives  final_state
0     490.0     680.0              3.0          1.0
1     250.0     595.0              3.0          1.0
2     800.0     743.0              3.0          1.0
3     880.0     985.0              3.0          1.0
4   -1295.0     317.0              3.0          1.0
..      ...       ...              ...          ...
995   100.0     523.0              3.0          1.0
996    75.0     346.0              3.0          1.0
997  -320.0     412.0              3.0          1.0
998  -480.0     507.0              3.0          1.0
999   610.0     803.0              3.0          1.0

[1000 rows x 4 columns]

deleted = 0
while deleted < 500:
    for index, row in results.iterrows():
        if row["final_state"] == 1:
            if deleted < 500 and random() < 0.4:
                results = results.drop(index)
                deleted += 1

In [15]:
deleted = 0
filtrado = results
while deleted < 1000:
    row = filtrado.sample()
    if (row["final_state"] == 1).any():
        filtrado = filtrado.drop(row.index)
        deleted += 1

In [8]:
results['final_state'].value_counts()

1.0    1675
3.0     314
2.0      11
Name: final_state, dtype: int64

In [10]:
nuevo = results.head(1000)
nuevo['final_state'].value_counts()

1.0    840
3.0    155
2.0      5
Name: final_state, dtype: int64

In [16]:
filtrado['final_state'].value_counts()

1.0    675
3.0    314
2.0     11
Name: final_state, dtype: int64